html, body{
    min-height: 100%;
    width: 100%;
}
.images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100%;
}

.emoji {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5px;
    min-width:15% ;
    aspect-ratio: 1;
    background-color: purple;
    border: 2px grey solid;
    border-radius: 50%;
    font-size: 5em;
}
.emoji:hover{
    border-color:black ;
    cursor: pointer;
}
.scores {
    display: flex;
    justify-content: center; /* Center scores horizontally */
    margin-top: 100px;
    align-items: center;
    gap: 50px; /* Optional: Adds space between score sections */
}

.score {
    font-weight: bolder;
    text-align: center;
}

button {
    display: block;
    margin: 30px auto; /* Center button horizontally with margin auto */
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    height: auto;
    width: auto; /* Optional: Adjust width as needed */
    cursor: pointer;
    font-size:1.5em ;
}